# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Clion file\Course_Design_Fifth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
